# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/*.csv

# Generated model files
models/*.txt
models/*.pkl

# Node
frontend/node_modules/
frontend/dist/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db